<div th:fragment="login-status" class="navbar-item">
  <div class="buttons">
    <div th:if="${session.userId} == null">
    <a th:href="@{/signin}" class="button is-primary">
      <strong>Sign up</strong>
    </a>
    <a th:href="@{/login}" class="button is-light">
      Log in
    </a>
    </div>
    <div th:unless="${session.userId} == null">
      <a th:href="@{/logout}" class="button is-light">
        Log Out
      </a>
      <a th:href="@{/reserved/overview}" class="button is-danger"> Area Riservata</a>
    </div>
  </div>
</div>