<div th:fragment="content" class="container is is-four-fifths is-centered">
    <style>
        .Shorted{
            max-width: 400px;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    </style>
    <script>
        function hover(tag){
            console.log(tag)
            //todo: understand how to do this
            tag.getElementById("actions").style.display = "block";
        }
    </script>
    <h1 class="title is-centered">Welcome <span th:text="${username}"></span>!</h1>
    <a th:href="@{/reserved/edit-account}"><h2 class="sub-title">Edit your account</h2></a>
    <br>
    <h2 class="subtitle is-primary">Your Games</h2>
    <table class="table is-fullwidth is-striped is-hoverable">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th class="Shorted">Description</th>
            <th >Action</th>
        </tr>
        </thead>
        <tbody>
            <tr onmouseover="hover(this)" th:each="game: ${games}">
<!--                todo do things (classic crud)-->
                <td th:text="${game.id}" />
                <td th:text="${game.name}" />
                <td class="Shorted" th:text="${game.description}" />
                <td style="max-width: 200px">
                    <div id="actions" class="container is-pulled-right">
                        <button type="button" class="button">we</button>
                        <button type="button" class="button">we</button>
                        <button type="button" class="button">we</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>