<div th:fragment="content" class="container is is-four-fifths is-centered">
    <style>
        .Shorted{
            max-width: 400px;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    </style>
    <h1 class="title is-centered">Welcome <span th:text="${username}"></span>!</h1>
    <a th:href="@{/reserved/edit-account}"><h2 class="sub-title">Edit your account</h2></a>
    <br>
    <h2 class="subtitle is-primary">Your Games</h2>
    <table class="table is-fullwidth is-striped is-hoverable">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th class="Shorted">Description</th>
            <th >Actions</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="game: ${games}">
                <td th:text="${game.id}"></td>
                <td th:text="${game.name}"></td>
                <td class="Shorted" th:text="${game.description}"></td>
                <td style="max-width: 200px">
                    <div  class="container is-pulled-right">
                        <a th:href="@{'/reserved/edit-game?gameId=' + ${game.id}}"><button type="button" class="button">
                            <img width="16rem" src="/imgs/icons/cog.svg" ></img>
                        </button></a>
                        <a th:href="@{'/reserved/delete-game?gameId=' + ${game.id}}"><button type="button" class="button">
                            <img width="16rem" src="/imgs/icons/trash.svg" ></img>
                        </button></a>
                        <button type="button" th:onclick="'javascript:copy(' + ${game.id} + ')'" class="button">
                            <img width="16rem" src="/imgs/icons/copy.svg" ></img>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{'/reserved/create-game'}">
        <button class="button is-pulled-right"><img width="16rem" src="/imgs/icons/add.svg"></button>
    </a>
    <script>
        function copy(id){
            navigator.clipboard.writeText(id)
            alert("Game id (" + id + ") copied in clipboard!")
        }
    </script>
</div>